.calculator {
    width: 30%;
    background-color: #6a6969;
    box-sizing: border-box;
    padding: 1px;
    margin: auto;
    border-radius: 2%;
}

#display {
    height: 10vh;
    width: 29vw;
    box-sizing: border-box;
    padding: 20px 20px 10px 10px;
    text-align: right;
    background-color: darkolivegreen;
    font-size: 4em;
    margin: 1% 1%;
    border-radius: 2%;
/*without this if you click on a number 17 times it will be displayed inside the "display screen" but if you click it anymore than that it will flow out of the "display screen." need to cap off amount of numbers that can be clicked, because even if the overflow of numbers/operators are hidden it still might be storing those values to be used*/
    overflow: hidden;
}

button {
    width: 24%;
    padding-bottom: 25%;
    display: inline-block;
    background-color: orangered;
    margin: .2% .2%;
    position: relative;
    vertical-align: top;
    color: black;
    border 1px solid green;
    border-radius: 20%;
}

#clear {
    width:49%;
    padding-bottom: 15%;
    background-color: white;
    font-size: 2vw;
    border-radius: 10%

}

button span {
    font-size: 2vw;
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(50%, 50%);
}

@media screen and (max-width: 375px) {
    .calculator {
        width: 95%;
    }
    button {
        width: 23.5%;
    }
    button span {
        font-size: 6vw;
    }
    #clear {
        font-size: 8vw;
    }
}